body img{
}

header h2{
    font-style: italic;
    padding-left: 50px;
    font-size: 200%;
}

header{
    padding: 1.5em 0em 2em 0em;
    border-bottom: 3px solid black;
    background-image: linear-gradient(
            30deg, cornflowerblue 0%, powderblue 30%, white 50%, powderblue 80%, cornflowerblue 100%);
}


body p{
    font-weight: bold;
}


footer{
    margin-top: 400px;
    text-align: center;
}